# TAREA FINAL: Datos de vivienda

<p> El negocio inmobiliario es uno de los motores de la economía de España, el carácter turístico de nuesta península hace que sean muchos los inversores extranjeros que se decidan por buscar una inversión de bajo riesgos en nuestras ciudades costeras o grandes urbes. 
Muchas de estas inversiones se hacen sobre grandes bolsas de inmuebles que deben ser analizados previamente para comprobar la rentabilidad del porfolio </p>

<!-- <p> En este caso vamos a trabajar con una tabla que contienen información de distintos inmuebles repartidos por una zona específica, sus carácterísticas y su precio </p>  -->

Todas las cuestiones se deben realizar sobre el conjunto de casos que representen viviendas ubicadas en zonas residenciales **(alta, media y baja densidad)**

**MUY IMPORTANTE:** En las otras prácticas he detectado colaboraciones involucrando varias personas y he sido flexible aunque a algunos os lo he mencionado en las correcciones, porque al final el trabajo de analista de datos es un trabajo colaborativo. Sin embargo, este trabajo es individual, así que cuidado con las colaboraciones.

Las variables de las que se compone el dataset son:

|NOMBRE VARIABLE|DESCRIPTOR|VALORES|
| --- | --- | --- |
|Order|Variable de identificación|1 a 2930|
|MS Zoning|Zona de ubicación de la vivienda|"A rural, C comercial, FV residencial flotante, I industrial, RH residencial alta densidad, RL residencial baja densidad, RM residencial media densidad"|
|Lot Frontage|Longitud de la fachada en pies||
|Lot Area|Superficie de la vivienda en pies cuadrados||
|Land Contour|Contorno del terreno circundante|"Lvl llano, Bnk Tipo bancal, HLS Ladera, Low Depresión"|
|Land Slope|Tipo de pendiente de la vivienda|" Gtl pendiente suave, Mod pendiente moderada, Sev fuerte pendiente"|
|Overall Qual|Grado de calidad de materiales y acabado de la vivienda|De 1 (Muy pobre) a 10 (Excelente)|
|Year Built|Año de construccion de la vivienda||
|Year Remod/Add|Año de última reforma de la vivienda||
|Mas Vnr Type|Tipo de revestimiento exterior|" BrkCmn Ladrillo normal, BrkFace Ladrillo visto, CBlock Bloque de cemento, None Ninguna, Stone Piedra "|
|Exter Qual|Calidad de revestimiento exterior|"Ex Excelente,Gd Bueno,TA Media,Fa Justo"|
|Bsmt Cond|Estado general del sótano|"Ex Excelente, Gd Bueno, TA Media, Fa Justo, Po Pobre,Ss sin sótano"|
|Total Bsmt SF|Superficie del sótano en pies cuadrados|
|Heating QC|Calidad de la calefacción|"Ex Excelente,Gd Bueno,TA Media,Fa Justo,Po Pobre"|
|Central Air|Aire acondicionado centralizado|"N No Y Sí"|
|Full Bath|Número de baños completo en planta||
|Half Bath|Número de aseos en planta||
|Bedroom AbvGr|Número de dormitorios en planta||
|Kitchen AbvGr|Número de cocinas en planta||
|Kitchen Qual|Calidad de cocinas|"Ex Excelente,Gd Bueno,TA Media,Fa Justo,Po Pobre"|
|TotRms AbvGrd|Número total de habitaciones excluidos los cuartos de baño||
|Garage Cars|Número de plazas de garaje||
|Garage Area|Superficie del garaje|||
|Garage Cond|Estado del garaje|"Ex Excelente,Gd Bueno,TA Media,Fa Justo,Po Pobre,Sg sin garaje"|
|Pool Area|Superficie de la piscina en pies cuadrados|
|Pool QC|Calidad de la piscina|"Ex Excelente,Gd Bueno,TA Media,Fa Justo,Sp no hay piscina"|
|Mo Sold|mes de venta||
|Yr Sold|año de venta||
|SalePrice|precio de venta en dólares||

Recomiendo al leer los datos, eliminar espacios de los nombres de las columnas, realiza un pequeño análisis inicial de los mismos. No olvides fijarte en los tipos de variables, que variables pueden tener tipos confundidos y corrige los. Sobre todo, trabaja con las fechas.

**NOTA:** Las tareas complementarias sirven para subir nota. El resto de preguntas valen igual y suman 10 puntos.

## Inicializar y cargar el contexto spark

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz #d
!pip install -q findspark 

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

^C

ValueError: ignored

Cargamos los ficheros *CSV*

In [ ]:
data_file1 = "./BDpracticafinalCSV.csv"
practica_final = sc.textFile(data_file1)

Para cargar los ficheros *XSLX* (No me funciona pero dejo como se haría) Lo he sacado del siguiente link [XSLX en Spark](https://github.com/crealytics/spark-excel)

+ Habría que instalar una librería de Scala

In [ ]:
#groupId: com.crealytics
#artifactId: spark-excel_2.12
#version: 0.13.1

Crear un Dataframe desde un fichero xslx.

In [ ]:
#import org.apache.spark.sql._

#val spark: SparkSession = ???
#val df = spark.read
#    .format("com.crealytics.spark.excel")
#    .option("dataAddress", "'My Sheet'!B3:C35") // Optional, default: "A1"
#    .option("header", "true") // Required
#    .option("treatEmptyValuesAsNulls", "false") // Optional, default: true
#    .option("usePlainNumberFormat", "false") // Optional, default: false, If true, format the cells without rounding and scientific notations
#    .option("inferSchema", "false") // Optional, default: false
#    .option("addColorColumns", "true") // Optional, default: false
#    .option("timestampFormat", "MM-dd-yyyy HH:mm:ss") // Optional, default: yyyy-mm-dd hh:mm:ss[.fffffffff]
#    .option("maxRowsInMemory", 20) // Optional, default None. If set, uses a streaming reader which can help with big files
#    .option("excerptSize", 10) // Optional, default: 10. If set and if schema inferred, number of rows to infer schema from
#    .option("workbookPassword", "pass") // Optional, default None. Requires unlimited strength JCE for older JVMs
#    .schema(myCustomSchema) // Optional, default: Either inferred schema, or all columns are Strings
#    .load("BDpracticafinal2021.xlsx")

In [ ]:
practica_final.take(5)

['Order;MS Zoning;Lot Frontage;Lot Area;Land Contour;Land Slope;Overall Qual;Year Built;Year Remod/Add;Mas Vnr Type;Exter Qual;Bsmt Cond;Total Bsmt SF;Heating QC;Central Air;Full Bath;Half Bath;Bedroom AbvGr;Kitchen AbvGr;Kitchen Qual;TotRms AbvGrd;Garage Cars;Garage Area;Garage Cond;Pool Area;Pool QC;Mo Sold;Yr Sold;SalePrice',
 '1;RL;141;31770;Lvl;Gtl;6;1960;1960;Stone;TA;Gd;1080;Fa;Y;1;0;3;1;TA;7;2;528;TA;0;Sp;5;2010;215000',
 '2;RH;80;11622;Lvl;Gtl;5;1961;1961;None;TA;TA;882;TA;Y;1;0;2;1;TA;5;1;730;TA;0;Sp;6;2010;105000',
 '3;RL;81;14267;Lvl;Gtl;6;1958;1958;BrkFace;TA;TA;1329;TA;Y;1;1;3;1;Gd;6;1;312;TA;0;Sp;6;2010;172000',
 '4;RL;93;11160;Lvl;Gtl;7;1968;1968;None;Gd;TA;2110;Ex;Y;2;1;3;1;Ex;8;2;522;TA;0;Sp;4;2010;244000']

In [ ]:
header = practica_final.first() #Quitamos el encabezado
practica_final = practica_final.filter(lambda x : x != header)

In [ ]:
practica_final.take(3)

['1;RL;141;31770;Lvl;Gtl;6;1960;1960;Stone;TA;Gd;1080;Fa;Y;1;0;3;1;TA;7;2;528;TA;0;Sp;5;2010;215000',
 '2;RH;80;11622;Lvl;Gtl;5;1961;1961;None;TA;TA;882;TA;Y;1;0;2;1;TA;5;1;730;TA;0;Sp;6;2010;105000',
 '3;RL;81;14267;Lvl;Gtl;6;1958;1958;BrkFace;TA;TA;1329;TA;Y;1;1;3;1;Gd;6;1;312;TA;0;Sp;6;2010;172000']

Split de ;

In [ ]:
data=practica_final.map(lambda x:x.split(";")) #parseado hacemos una lista por ;
data.take(1)

[['1',
  'RL',
  '141',
  '31770',
  'Lvl',
  'Gtl',
  '6',
  '1960',
  '1960',
  'Stone',
  'TA',
  'Gd',
  '1080',
  'Fa',
  'Y',
  '1',
  '0',
  '3',
  '1',
  'TA',
  '7',
  '2',
  '528',
  'TA',
  '0',
  'Sp',
  '5',
  '2010',
  '215000']]

In [ ]:
data.take(1)

[['1',
  'RL',
  '141',
  '31770',
  'Lvl',
  'Gtl',
  '6',
  '1960',
  '1960',
  'Stone',
  'TA',
  'Gd',
  '1080',
  'Fa',
  'Y',
  '1',
  '0',
  '3',
  '1',
  'TA',
  '7',
  '2',
  '528',
  'TA',
  '0',
  'Sp',
  '5',
  '2010',
  '215000']]

Filtramos por las zonas residenciales que deseamos

In [ ]:
data = data.filter(lambda x: ((x[1] == 'rL') or (x[1] == 'RL') or (x[1] == 'Rl') or (x[1] == 'RM') or (x[1] == 'RH')) )

In [ ]:
data.take(5)

[['1',
  'RL',
  '141',
  '31770',
  'Lvl',
  'Gtl',
  '6',
  '1960',
  '1960',
  'Stone',
  'TA',
  'Gd',
  '1080',
  'Fa',
  'Y',
  '1',
  '0',
  '3',
  '1',
  'TA',
  '7',
  '2',
  '528',
  'TA',
  '0',
  'Sp',
  '5',
  '2010',
  '215000'],
 ['2',
  'RH',
  '80',
  '11622',
  'Lvl',
  'Gtl',
  '5',
  '1961',
  '1961',
  'None',
  'TA',
  'TA',
  '882',
  'TA',
  'Y',
  '1',
  '0',
  '2',
  '1',
  'TA',
  '5',
  '1',
  '730',
  'TA',
  '0',
  'Sp',
  '6',
  '2010',
  '105000'],
 ['3',
  'RL',
  '81',
  '14267',
  'Lvl',
  'Gtl',
  '6',
  '1958',
  '1958',
  'BrkFace',
  'TA',
  'TA',
  '1329',
  'TA',
  'Y',
  '1',
  '1',
  '3',
  '1',
  'Gd',
  '6',
  '1',
  '312',
  'TA',
  '0',
  'Sp',
  '6',
  '2010',
  '172000'],
 ['4',
  'RL',
  '93',
  '11160',
  'Lvl',
  'Gtl',
  '7',
  '1968',
  '1968',
  'None',
  'Gd',
  'TA',
  '2110',
  'Ex',
  'Y',
  '2',
  '1',
  '3',
  '1',
  'Ex',
  '8',
  '2',
  '522',
  'TA',
  '0',
  'Sp',
  '4',
  '2010',
  '244000'],
 ['5',
  'RL',
  '74',
  '13830',
  'Lvl',
  'Gtl',
  '5',
  '1997',
  '1998',
  'None',
  'TA',
  'TA',
  '928',
  'Gd',
  'Y',
  '2',
  '1',
  '3',
  '1',
  'TA',
  '6',
  '2',
  '482',
  'TA',
  '0',
  'Sp',
  '3',
  '2010',
  '189900']]

## Cuántas viviendas distintas encontramos en el dataset? ¿Se repite alguna? Tiene sentido que haya duplicadas? ¿Qué podemos hacer con las duplicadas?

In [ ]:
repetidos= data.map(lambda x: x[0]) #cogemos la primera posición
repetidos.distinct().count()

2762

In [ ]:
repetidos.count() #hay 6 observaciones que a priori están repetidas

2768

Los repetidos son las propiedades con los identificadores **2898, 2930,2929,2901,2899 y 2900**, continuaremos con estos, ya que no he conseguido encontrar la función correspondiente.

## ¿Podrías decirme el total de inmuebles y el precio medio (Sale Price) de cada zona (MS Zoning)?

In [ ]:
price_per_area= data.map(lambda x:(x[1],float(x[-1])))

In [ ]:
price_per_area.take(3)

[('RL', 215000.0), ('RH', 105000.0), ('RL', 172000.0)]

Nos fijamos en las distintas zonas posibles que hay

In [ ]:
zonas = price_per_area.map(lambda x: x[0])

In [ ]:
zonas.distinct().collect()

['RL', 'RH', 'Rl', 'RM', 'rL']

Con que tenemos  **rL y Rl** que son variantes de RL las ponemos en mayúsculas todas

In [ ]:
price_per_area = data.map(lambda x: (x[1].upper(), float(x[-1]))) #.isupper() para pasarlo a mayúscula

In [ ]:
mean_per_area = price_per_area.combineByKey(
                                            (lambda x: (x, 1)), # the initial value, with value x and count 1
                                            (lambda acc, value: (acc[0]+value, acc[1]+1)), # how to combine a pair value with the accumulator: sum value, and increment count
                                             (lambda acc1, acc2: (acc1[0]+acc2[0], acc1[1]+acc2[1])) # combine accumulators
                                                )

mean_per_area.collect()  #agrupamos por la clave que es la zona, contamos el numero de veces que aparece el indicador (derecha del paréntesis) y la suma de precios (izq del paréntesis)

[('RL', (436229331.0, 2279)),
 ('RH', (3683334.0, 27)),
 ('RM', (58573004.0, 462))]

Calculamos la media

In [ ]:
mean_area = mean_per_area.map(lambda x: (x[0], round(x[1][0]/x[1][1], 2))).sortBy(lambda y: y[1]).collect() 
#media de los precios entre el número de observaciones de cada indicadores
mean_area

[('RM', 126781.39), ('RH', 136419.78), ('RL', 191412.61)]

Las zonas de menor densidad poblacional son más baratos, no obstante las de mayor densidad son más c

## Media de Total Bsmt SF por cada década de construcción calculada a partir de Year Built. 
## ¿Cuál es la decada de construcción con viviendas mejor acondicionadas para el frío (Heating QC)?

Creamos los intervalos de las decadas para después aplicarlo a la columna y tener una key

In [ ]:
def interv (x):
  if x <= 1880:
    return ("1870-1880")
  elif x <= 1890:
    return ("1880-1890")
  elif x <= 1900 :
    return ("1890-1900")
  elif x <= 1910 :
    return ("1900-1910")
  elif x <= 1920 :
    return ("1910-1920")
  elif x <= 1930 :
    return ("1920-1930")
  elif x <= 1940 :
    return ("1930-1940")
  elif x <= 1950 :
    return ("1940-1950")
  elif x <= 1960 :
    return ("1950-1960")
  elif x <= 1970 :
    return ("1960-1970")
  elif x <= 1980 :
    return ("1970-1980")
  elif x <= 1990 :
    return ("1980-1990")
  elif x <= 2000 :
    return ("1990-2000")
  else:
    return ("2000-2010")

Aplicamos la función

In [ ]:
año= data.map( lambda x: (int(x[7]), float(x[-17]), interv(int(x[7]))))

In [ ]:
año.take(2)

[(1960, 1080.0, '1950-1960'), (1961, 882.0, '1960-1970')]

In [ ]:
años =año.map(lambda x: (x[2],x[1])) #cogemis

In [ ]:
años.take(5) #Comprobamos que funciona

[('1950-1960', 1080.0),
 ('1960-1970', 882.0),
 ('1950-1960', 1329.0),
 ('1960-1970', 2110.0),
 ('1990-2000', 928.0)]

In [ ]:
mean_per_year = años.combineByKey(
                                    (lambda x: (x, 1)), # the initial value, with value x and count 1
                                    (lambda acc, value: (acc[0]+value, acc[1]+1)), # how to combine a pair value with the accumulator: sum value, and increment count
                                    (lambda acc1, acc2: (acc1[0]+acc2[0], acc1[1]+acc2[1])) # combine accumulators
                                                )

mean_per_year.collect()  #agrupamos por la clave que es la zona, contamos el numero de veces que aparece el indicador y la suma de precios

[('1950-1960', (337379.0, 334)),
 ('1960-1970', (381098.0, 362)),
 ('1890-1900', (23658.0, 31)),
 ('1920-1930', (135758.0, 163)),
 ('1880-1890', (8038.0, 10)),
 ('1870-1880', (6637.0, 8)),
 ('1990-2000', (375421.0, 332)),
 ('2000-2010', (860017.0, 631)),
 ('1980-1990', (130740.0, 113)),
 ('1970-1980', (335775.0, 350)),
 ('1910-1920', (93650.0, 116)),
 ('1940-1950', (107148.0, 151)),
 ('1930-1940', (92039.0, 118)),
 ('1900-1910', (35595.0, 49))]

In [ ]:
#hacemos la media
mean_year = mean_per_year.map(lambda x: (x[0], round(x[1][0]/x[1][1], 2))).sortBy(lambda y: y[1]).collect()
mean_year

[('1940-1950', 709.59),
 ('1900-1910', 726.43),
 ('1890-1900', 763.16),
 ('1930-1940', 779.99),
 ('1880-1890', 803.8),
 ('1910-1920', 807.33),
 ('1870-1880', 829.62),
 ('1920-1930', 832.87),
 ('1970-1980', 959.36),
 ('1950-1960', 1010.12),
 ('1960-1970', 1052.76),
 ('1990-2000', 1130.79),
 ('1980-1990', 1156.99),
 ('2000-2010', 1362.94)]

Para el Heating QC contamos la década que tiene la calefacción de mejor calidad en este caso esta identificado como **Ex**

In [ ]:
excelent =data.filter(lambda x: (x[13]== "Ex")) #cogemos todos los que son excelentes con el filter

In [ ]:
excelent.take(5) #comprobamos

[['4',
  'RL',
  '93',
  '11160',
  'Lvl',
  'Gtl',
  '7',
  '1968',
  '1968',
  'None',
  'Gd',
  'TA',
  '2110',
  'Ex',
  'Y',
  '2',
  '1',
  '3',
  '1',
  'Ex',
  '8',
  '2',
  '522',
  'TA',
  '0',
  'Sp',
  '4',
  '2010',
  '244000'],
 ['6',
  'RL',
  '78',
  '9978',
  'Lvl',
  'Gtl',
  '6',
  '1998',
  '1998',
  'BrkFace',
  'TA',
  'TA',
  '926',
  'Ex',
  'Y',
  '2',
  '1',
  '3',
  '1',
  'Gd',
  '7',
  '2',
  '470',
  'TA',
  '0',
  'Sp',
  '6',
  '2010',
  '195500'],
 ['7',
  'RL',
  '41',
  '4920',
  'Lvl',
  'Gtl',
  '8',
  '2001',
  '2001',
  'None',
  'Gd',
  'TA',
  '1338',
  'Ex',
  'Y',
  '2',
  '0',
  '2',
  '1',
  'Gd',
  '6',
  '2',
  '582',
  'TA',
  '0',
  'Sp',
  '4',
  '2010',
  '213500'],
 ['8',
  'RL',
  '43',
  '5005',
  'HLS',
  'Gtl',
  '8',
  '1992',
  '1992',
  'None',
  'Gd',
  'TA',
  '1280',
  'Ex',
  'Y',
  '2',
  '0',
  '2',
  '1',
  'Gd',
  '5',
  '2',
  '506',
  'TA',
  '0',
  'Sp',
  '1',
  '2010',
  '191500'],
 ['9',
  'RL',
  '39',
  '5389',
  'Lvl',
  'Gtl',
  '8',
  '1995',
  '1996',
  'None',
  'Gd',
  'TA',
  '1595',
  'Ex',
  'Y',
  '2',
  '0',
  '2',
  '1',
  'Gd',
  '5',
  '2',
  '608',
  'TA',
  '0',
  'Sp',
  '3',
  '2010',
  '236500']]

In [ ]:
excelent= excelent.map( lambda x: ( x[13], interv(int(x[7]))))  #hacemos lo mismo que anteriromente

In [ ]:
excelent.take(10)

[('Ex', '1960-1970'),
 ('Ex', '1990-2000'),
 ('Ex', '2000-2010'),
 ('Ex', '1990-2000'),
 ('Ex', '1990-2000'),
 ('Ex', '1990-2000'),
 ('Ex', '2000-2010'),
 ('Ex', '2000-2010'),
 ('Ex', '1950-1960'),
 ('Ex', '1970-1980')]

In [ ]:
excel = excelent.map( lambda x: (x[1],x[0])) #la key es la decada

In [ ]:
excel.countByKey()

defaultdict(int,
            {'1870-1880': 2,
             '1880-1890': 2,
             '1890-1900': 11,
             '1900-1910': 13,
             '1910-1920': 43,
             '1920-1930': 47,
             '1930-1940': 46,
             '1940-1950': 48,
             '1950-1960': 99,
             '1960-1970': 90,
             '1970-1980': 59,
             '1980-1990': 33,
             '1990-2000': 264,
             '2000-2010': 606})

La década con mejor calefacción es los 2000-2010 como es lógico ya que los avances permiten tener aires acondicionados de mejor calidad

## ¿Cuáles son las 10 viviendas que se vendieron por un precio más elevado por metro cuadrado en el año 2009?

In [ ]:
#filtramos por el año 2009
dosmilnueve= data.filter(lambda x: int(x[-2]) == 2009)

In [ ]:
#pasamos a metros y cogemos los identificadores
dosmilnueve = dosmilnueve.map(lambda x: (int(x[0]),((float(x[3])*10.76), float(x[-1]))))

In [ ]:
dosmilnueve_metros_precio= dosmilnueve.map(lambda x: ( round(float(x[1][1]/x[1][0]),3),x[0]))

dosmilnueve_metros_precio.top(10) #cogemos las 10 que mayor precio por metro cuadrado tienen donde vemos a la izquierda el precio y derecha el identificador

[(8.865, 936),
 (8.557, 934),
 (7.089, 464),
 (6.976, 935),
 (6.611, 408),
 (6.528, 407),
 (6.196, 405),
 (6.167, 933),
 (6.14, 403),
 (6.053, 411)]

## Media anual por zonas del precio de venta y metros cuadrados.

Calculamos la media anual para el precio de venta y la media anual para los metros cuadrados

In [ ]:
price_year = data.map(lambda x: (int(x[-2]), float(x[-1])))

In [ ]:
meter2_year= data.map(lambda x: (int(x[-2]),(float(x[3])*10.764)))

In [ ]:
mean_per_price = price_year.combineByKey(
                                            (lambda x: (x, 1)), # the initial value, with value x and count 1
                                            (lambda acc, value: (acc[0]+value, acc[1]+1)), # how to combine a pair value with the accumulator: sum value, and increment count
                                            (lambda acc1, acc2: (acc1[0]+acc2[0], acc1[1]+acc2[1])) # combine accumulators
                                                )

mean_per_price.collect()  #agrupamos por la clave que es la año, contamos el numero de veces que aparece el indicador y la suma de precios

[(2010, (54372479.0, 316)),
 (2008, (103818941.0, 584)),
 (2006, (109938431.0, 601)),
 (2009, (109784205.0, 610)),
 (2007, (120571613.0, 657))]

In [ ]:
mean_price = mean_per_price.map(lambda x: (x[0], round(x[1][0]/x[1][1], 2))).sortBy(lambda y: y[1]).collect()
mean_price

[(2010, 172064.81),
 (2008, 177772.16),
 (2009, 179974.11),
 (2006, 182925.84),
 (2007, 183518.44)]

In [ ]:
mean_per_m2 = meter2_year.combineByKey( #la key en este caso es el año
                                            (lambda x: (x, 1)), # the initial value, with value x and count 1
                                            (lambda acc, value: (acc[0]+value, acc[1]+1)),  # how to combine a pair value with the accumulator: sum value, and increment count
                                            (lambda acc1, acc2: (acc1[0]+acc2[0], acc1[1]+acc2[1])) # acc1[0]+acc2[0] suma el valor siguiente con la suma de precios y acc1[1]+acc2[1] suma los conteos
                                                )

mean_per_m2.collect()  #agrupamos por la clave que es la año, contamos el numero de veces que aparece el indicador y la suma de precios

[(2010, (34021150.487999976, 316)),
 (2008, (64748172.52799997, 584)),
 (2006, (66869886.09600002, 601)),
 (2009, (66248986.283999994, 610)),
 (2007, (75506586.012, 657))]

In [ ]:
mean_m2 = mean_per_m2.map(lambda x: (x[0], round(x[1][0]/x[1][1], 2))).sortBy(lambda y: y[1]).collect()
mean_m2

[(2010, 107661.87),
 (2009, 108604.9),
 (2008, 110870.16),
 (2006, 111264.37),
 (2007, 114926.31)]

## ¿Podrías decirme el total de recaudación de las casas de revistimiento (Mas Vnr Type) de piedra con respecto a las de ladrillo? ¿Hay diferencia significativa?

En primer lugar lo que nos interesa es filtrar justamente las filas de la columna 9 en este caso, que nos interesan, al igual que en los casos anteriores y posteriores calcularemos la media y a partir de ahí sacaremos nuestras conclusiones.

In [ ]:
brick = data.filter(lambda x: x[9] == 'BrkCmn').map(lambda x: (float(x[28]))) #miramos el del ladrillo normal primero

In [ ]:
#media
mean_brick = brick.sum()/brick.count()
mean_brick

140199.0

In [ ]:
brickbomba = data.filter(lambda x: x[9] == 'BrkFace').map(lambda x: (float(x[28]))) #miramos el del ladrillo visto primero

In [ ]:
#media
mean_brick_bomba = brickbomba.sum()/brickbomba.count()
mean_brick

140199.0

In [ ]:
stone = data.filter(lambda x: x[9] == 'Stone').map(lambda x: (float(x[28])))

In [ ]:
mean_stone = stone.sum()/stone.count()
mean_stone

263023.81304347824

En media el precio de las casas de revestimiento o fachada de piedra es de es 123.000 dólares más, mientras que en en el caso de los dos ladrillos el precio es aparentemente el mismo.

## ¿Cuánto son más caras las viviendas con 2 cocinas, con 2 o más plazas de garaje que las que tienen 1 cocina y 1 plaza de garaje? Comparar medias y cuartiles de ambos casos

Quitamos los NaNs para poder trabajar

In [ ]:
data=data.filter(lambda x: ((x[18] is not '') and (x[21] is not ''))) #no nas

In [ ]:
data.take(1)

[['1',
  'RL',
  '141',
  '31770',
  'Lvl',
  'Gtl',
  '6',
  '1960',
  '1960',
  'Stone',
  'TA',
  'Gd',
  '1080',
  'Fa',
  'Y',
  '1',
  '0',
  '3',
  '1',
  'TA',
  '7',
  '2',
  '528',
  'TA',
  '0',
  'Sp',
  '5',
  '2010',
  '215000']]

In [ ]:
dos_cocinas_garaje = data.filter(lambda x: int(x[18]) >= 2 and int(x[21]) == 2).map(lambda x: (float(x[28]))) #aplicamos el filtro a las columnas correspodneintes
dos_cocinas_garaje= dos_cocinas_garaje.sum()/dos_cocinas_garaje.count()
dos_cocinas_garaje

135299.8260869565

In [ ]:
una = data.filter(lambda x:  int(x[18]) == 1 and  int(x[21])==1).map(lambda x: float(x[28]))


una_cocinas_garaje=una.sum()/una.count() #media

Restamos los precios para ver si hay alguna diferencia

In [ ]:
  dos_cocinas_garaje-una_cocinas_garaje

7177.832709473063

En media las casas de dos  o mas cocinas y dos o mas garajes son 7177 dólares que las de 1 garaje y una cocina.

## (COMPLEMENTARIA) Estudiar la relación entre el precio y el número de Garajes. (Recomiendo segmentar precio por cuartiles y estudiar el número de casos coincidentes)

Con que no tengo mucho tiempo, lo que haré es comparar los precios en función del número de garajes, para ello lo que haré ver si es una relación de tipo ascendente, (como espero que sea) o descendente.

In [ ]:
garaje = data.filter(lambda x: int(x[21]) == 1).map(lambda x: (float(x[28]))) 
un_garaje_med= garaje.sum()/garaje.count()
un_garaje_med

128011.6557591623

In [ ]:
dos_garaje = data.filter(lambda x: int(x[21]) == 2).map(lambda x: (float(x[28]))) 
dos_garaje_med= dos_garaje.sum()/dos_garaje.count()
dos_garaje_med

181890.09318028358

In [ ]:
tres_garaje = data.filter(lambda x: int(x[21]) == 3).map(lambda x: (float(x[28]))) 
tres_garaje_med= tres_garaje.sum()/tres_garaje.count()
tres_garaje_med

311831.4888268156

Como se observa la existe una fuerte relación ascendente, y el precio se incrementa considerablemente, casi un doble de cuando tenemos de 2  a 3 garajes.

## (COMPLEMENTARIA) Las 10 viviendas con mejores servicios y mejor precio.

### Pista:
#### Calcula las variables: 
- Número de servicios excelentes
- Número de servicios buenos
...

#### Tendréis que tener en cuenta también variables como número de baños Full Bath, cocinas Kitchen AbvGr o dormitorios Bedroom AbvGr. Generando por ejemplo (número de estas variables por encima de media)

#### Finalmente precio de venta